<h1>Carrito</h1>

{{#if isLoggedIn}}
  <p>Usuario: {{username}}</p>
{{/if}}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each productList}}
        <tr>
            <td>{{productList.title}}</td>
            <td>{{roductList.price}}</td>
            <td>{{quantity}}</td>
        </tr>
        {{/each}}
    </tbody>