<div>
    <h2>Restaurar Contrase침a</h2>
    <form action="" method="post">
        <div>
            <label for="">E-mail</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div>
            <label for="">Nueva Contrase침a</label>
            <input type="password" name="password" id="password" required>
        </div>
        <input type="submit" value = "Cambiar Cotrase침a">
    </form>

    {{#if error}}
    <p>{{error}}</p>
    {{/if}}

  <a href="/login">Iniciar sesi칩n</a>
</div>